<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">TODOアプリケーション</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <header>this is header</header>
    <section layout:fragment="content"></section>
    <footer>this is footer</footer>
</div>
</body>
</html>